* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.8125 rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}


/* box sizing i neden boyle yaptigimizi tekrar calismam gerekiyor */

.header {
    padding: 0.9375rem 0.9375rem 0rem 0.9375rem;
}

.header__left {
    float: left;
}

.header__right {
    float: right;
}

.clear {
    clear: both;
}


/* logoyu asagiya indirdik. header kismini temizledik html e bos bir div actik */

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
}


/* yazilari yanyana cevirdik  ul altindaki li lere boyle ulasiliyor*/

ul a {
    color: black;
    opacity: 0.8;
    cursor: pointer;
    padding: 0.5rem;
}

ul a:hover {
    text-decoration: underline;
}

.header__right--appicon {
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.7;
}

.header__right--appicon:hover {
    opacity: 1;
}

.header__right--button {
    background-color: #4285f4;
    border: none;
    width: 4.375rem;
    height: 1.875rem;
    border-radius: 0.125rem;
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.header__right--button:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0rem 0.0625rem 0rem 0rem;
}

.main__logo {
    width: 17rem;
    height: 5.9375rem;
    margin: 12.5rem auto 0rem;
    display: block;
}

.main__search-bar {
    width: 28.75rem;
    height: 2.375rem;
    border: 0.0625rem solid #d3d3d3;
    border-radius: 1.5625rem;
    margin: 1.75rem auto;
}

.main__search-bar:hover {
    box-shadow: rgb(211, 211, 211) 0.1875rem 0.1875rem 0.3125rem 0rem;
}

.main__search-bar--magnifier {
    width: 1.875rem;
    height: 1.875rem;
    vertical-align: middle;
    margin-left: 0.625rem;
}


/* vertical align resimler icin kullanilir */

.main__search-bar--input {
    width: 23.75rem;
    height: 1.75rem;
    border: none;
    outline: none;
    margin-top: 0.1875;
    font-size: 1rem;
}

.main__search-bar--microphone {
    width: 0.9375rem;
    height: 1.25rem;
    vertical-align: middle;
}


/* vertical align resimler icin kullanilir */

.main__buttons {
    text-align: center;
}

.main__button--left,
.main__button--right {
    height: 2.25rem;
    border: none;
    background-color: #efefef;
    border-radius: 0.25rem;
    padding: 0.0625rem 0.375rem;
    margin: 0.5rem 0.25rem;
}

.main__button--left:hover,
.main__button--right:hover {
    border: 0.0625rem solid #d3d3d3;
    cursor: pointer;
}

.main__language {
    margin: 1.25rem 0rem 0.8125rem;
    text-align: center;
}

.main__language a {
    color: #000080;
}


/* footer */

.footer {
    position: fixed;
    bottom: 0rem;
    background-color: #f2f2f2;
    line-height: 2.5rem;
    width: 100%;
    color: #5f6368;
}

.footer__country {
    padding-left: 1.125rem;
}

.footer__bottom {
    border-top: 0.0625rem solid #e4e4e4;
}

.footer__bottom--left {
    float: left;
    padding-left: 0.625rem;
}

.footer__bottom--right {
    float: right;
}